@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root {
    --primary-color: #EA2F34;
    --secondary-color: #00ACE8;
}

body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

.wpp {
    height: 70px;
    position: absolute;
    top: 87%;
    left: 92%;
    z-index: 99;
    transition: all .2s ease-in-out 0s;
}

.wpp:hover {
    height: 72px;
    cursor: pointer;
}

header {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
    z-index: 99;
}

nav {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

aside {
    position: absolute;
    display: none;
    padding-top: 20px;
    padding-right: 30px;
    width: 55vw;
    height: 85vh;
    background-color: #1c1c1c;
    z-index: 99;
    left: 47%;
}

.contain-aside ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.contain-aside li {
    padding: 8px;
    border: #fff;
}

.l-aside a {
    color: #fff;
    font-family: "Jost", serif;
    text-decoration: none;
    font-size: 1.2rem;
    position: relative;
    transition: all .3s ease-in-out 0s;
}

.l-aside a::after {
    content: " ";
    width: 0%;
    height: 2.5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out 0s;
}

.l-aside a:hover::after {
    width: 100%;
    color: var(--primary-color);
}

.l-aside a:hover {
    color: var(--primary-color);
}


.close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close img:hover {
    cursor: pointer;
}

.close img {
    height: 25px;
}

.dis-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}

ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: right;
}

li {
    list-style: none;
}

.l-nav a {
    color: #fff;
    font-family: "Jost", serif;
    text-decoration: none;
    font-size: 0.9rem;
    position: relative;
    transition: all .3s ease-in-out 0s;
}

.l-nav a::after {
    content: " ";
    width: 0%;
    height: 2.5px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out 0s;
}

.l-nav a:hover::after {
    width: 100%;
    color: var(--primary-color);
}

.l-nav a:hover {
    color: var(--primary-color);
}

.logo img{
    height: 70px;
    width: 70px;
    overflow: hidden;
    
}

.menu {
    display: block;
}

.menu img{
    height: 25px;
}

.menu img:hover {
    cursor: pointer;
}

main {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #d7d7d7;
}

@media screen and (min-width: 650px){
    main {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .swiper-slide img {
        height: auto;
        width: auto;
    }

    .swiper-button-prev {
        display: inline;
        transition: all .2s ease-in-out 0s;
    }

    .swiper-button-next {
        display: inline;
        transition: all .2s ease-in-out 0s;
        margin-right: 20px;
    }

}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.swiper-wrapper {
    height: 100%;
    width: 100%;
    background-color: rgb(202, 202, 202);
}

.swiper-slide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper-slide img {
    height: 100%;
    width: auto;
    margin-right: 15px;
}

.swiper-pagination-bullet {
    background-color: #1f1f1f;
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

.swiper-button-next {
    transition: all .2s ease-in-out 0s;
    margin-right: 20px;
}

.swiper-button-next:hover {
    color: var(--primary-color);
}

.swiper-button-prev {
    transition: all .2s ease-in-out 0s;
}

.swiper-button-prev:hover {
    color: var(--primary-color);
}

.colored {
    width: 100vw;
    height: auto;
    background-image: linear-gradient(90deg, #00b0f2 0%, #f03313);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sobre {
    width: 80%;
    max-width: 1200px;
    height: auto; 
    display: flex;
    gap: 15px;
}

.line {
    width: 20%;
    height: 5px;
    background-color: var(--secondary-color);
}

.line-servicos {
    width: 20%;
    height: 5px;
    background-color: #fff;
}

.txt-sobre {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.txt-sobre h2 {
    font-family: 'Jost', sans-serif;
    font-size: 3.5rem;
    color: var(--primary-color);
}

.txt-sobre .p-sobre {
    font-family: "Poppins", sans-serif;
    font-size: 0.65rem;
}

.img-sobre {
    height: 100%;
    width: 50%;
}

.img-sobre img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.container-servicos {
    width: 79%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.head-servicos h2 {
    font-family: 'Jost', sans-serif;
    font-size: 3.7rem;
    color: #fff;
}

.contain-cards {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    margin-top: 25px;
    box-sizing: border-box;
    padding-top: 10px;
    gap: 15px;
    
}

.cards {
    height: 400px;
    width: 230px;
    background-image: linear-gradient(180deg, #fff, #dfdfdf);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all .4s ease-in-out 0s;
    box-shadow: -1px 3px 20px -4px rgba(0, 0, 0, 0.288);
}

.cards:hover {
    transform: translateY(-10px);
}

.cards img {
    height: 70px;
    width: 70px;
    
}

.cards h3 {
    font-family: 'Jost', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.area-verde {
    line-height: 1px;
}

.h3-margin {
    margin-top: 3px;
}

.h3-servicos {
    line-height: 35px;
    overflow: hidden;
}

.cards p {
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    overflow-y: hidden;
}



.paragraph {
    margin-top: 1px;
}


.branca {
    background-color: #fff;
    width: 100vw;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-contato {
    width: 72%;
    max-width: 1200px;
    height: 700px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.title-contato {
    overflow-y: hidden;
}

.head-contato h2 {
    font-family: 'Jost', sans-serif;
    font-size: 3.7rem;
    color: var(--primary-color);
    overflow-y: hidden;
}

.line-contato {
    width: 20%;
    height: 5px;
    background-color: var(--secondary-color);
}

.map {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-y: hidden;
}

iframe {
    height: 100%;
    width: 100%;
}

.txt-map {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.contain-txt-map {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.txt-map h3 {
    font-family: 'Jost', sans-serif;
    font-size: 2.4rem;
    line-height: 70px;
    overflow: hidden;
}

.txt-map p {
    font-family: "Poppins", sans-serif;
    font-size: 0.80rem;
    text-align: left;
}

.txt-map button {
    height: 50px;
    font-size: 1.3rem;
    background-color: #ffffff;
    border: 1px solid black;
    transition: all .3s ease-in-out 0s;
}

.txt-map button:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
}

footer {
    background-color: #1c1c1c;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.contain-footer {
    width: 72%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: purple; */
    padding-bottom: 20px;
    gap: 30px;
}

.logo-footer {
    height: 100%;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-footer img{
    width: 90px;
    height: 90px;
}

.logo-footer p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.logo-footer button {
    height: 50px;
    font-size: 1.3rem;
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    transition: all .3s ease-in-out 0s;
}

.logo-footer button:hover {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.redes {
    height: auto;
    width: 100%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}

.contain-redes {
    width: 100%;
    height: 100%;
    /* background-color: #f03313; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.contain-redes ul {
    height: auto;
    width: 80%;
    flex-direction: column;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: start;
}

.contain-redes a{
    color: #fff;
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.contain-redes img{
    height: 15px;
    margin-right: 7px;
}

.l-footer a{
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in 0s;
    font-size: 0.7rem;
}

.l-footer a:hover {
    color: rgb(216, 216, 216);
}

.redes h4 {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    overflow: hidden;
}

.redes p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

.copyright {
    height: 50px;
    overflow: hidden;
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 0.7rem;
    margin-top: 45px;
}

/*RESPONSIVIDADE SECTION SOBRE*/

@media (min-width: 200px) and (max-width: 550px) {
    
    .container-sobre {
        width: 80%;
        max-width: 1200px;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    .txt-sobre {
        width: 100%;
    }

    .img-sobre {
        height: 100%;
        width: 100%;
    }

    .img-sobre img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }

    .txt-sobre .p-sobre {
        font-family: "Poppins", sans-serif;
        font-size: 0.68rem;
    } 

    .txt-sobre h2 {
        font-size: 3rem;
    }

}


@media (min-width: 550px) and (max-width: 850px) {

    .container-sobre {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .txt-sobre {
        width: 90%;
    }

    .img-sobre {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .img-sobre img {
        height: 90%;
        width: 90%;
        border-radius: 8px;
    }

    .txt-sobre .p-sobre {
        font-family: "Poppins", sans-serif;
        font-size: 0.8rem;
    } 
}


@media screen and (min-width: 950px) {

    .txt-sobre .p-sobre {
        font-family: "Poppins", sans-serif;
        font-size: 0.70rem;
    }     
}


@media screen and (min-width: 990px) {
    
    .txt-sobre h2 {
        font-family: 'Jost', sans-serif;
        font-size: 4rem;
        color: var(--primary-color);
    }
    
    .txt-sobre .p-sobre {
        font-family: "Poppins", sans-serif;
        font-size: 0.75rem;
    }

}

@media screen and (min-width: 1150px) {

    .txt-sobre {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .txt-sobre h2 {
        font-family: 'Jost', sans-serif;
        font-size: 4.5rem;
        color: var(--primary-color);
    }

    .line {
        width: 20%;
        height: 6px;
        background-color: var(--secondary-color);
    }

    .txt-sobre .p-sobre {
        font-family: "Poppins", sans-serif;
        font-size: 0.95rem;
    }


}

@media screen and (min-width: 1250px) {
    .container-sobre {
        width: 100%;
    }

    .txt-sobre {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .txt-sobre .p-sobre {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
    }
}
/*------------------------------------------------------*/

/* RESPONSIVIDADE DA NAV BAR*/


@media screen and (min-width: 924px) {

    header {
        justify-content: space-around;
        padding-right: 0;
    }

    nav {
        display: block;
    }

    .menu {
        display: none;
    }
}


@media screen and (min-width: 1208px) {
    .l-nav a {
        font-size: 1rem;
    }

    nav {
        width: 40%;
    }
}

@media screen and (min-width: 1335px) {
    
    .l-nav a {
        color: #fff;
        font-family: "Jost", serif;
        text-decoration: none;
        font-size: 1.2rem;
        position: relative;
        transition: all .3s ease-in-out 0s;
    }

}

/*-----------------------------------------------------------*/
/*RESPONSIVIDADE SERVIÇOS*/
@media screen and (min-width: 384px) {

    .cards {
        height: 400px;
        width: 270px;
    }

}

@media screen and (min-width: 600px) {

    .container-servicos {
        width: 70%;
    }

}

@media screen and (min-width: 772px) {

    .container-servicos {
        width: 72%;
    }

    
    .cards {
        height: 400px;
        width: 270px;
    }

    .contain-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .line-servicos {
        width: 10%;
    }

}

@media (min-width: 820px) and (max-width: 893px) {

    .container-servicos {
        width: 80%;
    }
    
    .cards {
        height: 400px;
        width: 290px;
    }

}

@media screen and (min-width: 893px) {

    .container-servicos {
        width: 80%;
        max-width: 1200px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .contain-cards {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .cards {
        height: 320px;
        width: 285px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .cards img {
        height: 50px;
        width: 50px;
    }
    
    .cards h3 {
        font-family: 'Jost', sans-serif;
        font-size: 1rem;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    
    .area-verde {
        line-height: 1px;
    }
    
    .h3-margin {
        margin-top: 3px;
    }
    
    .h3-servicos {
        line-height: 35px;
        overflow: hidden;
    }
    
    .cards p {
        font-family: "Poppins", sans-serif;
        font-size: 0.57rem;
        overflow-y: hidden;
    }
    
}


@media screen and (min-width: 1042px) {

    .cards p {
        font-size: 0.63rem;
    }

}

@media screen and (min-width: 1060px) {

    .container-servicos {
        width: 80%;
    }

    .area-verde {
        line-height: 25px;
    }

    .head-servicos h2 {
        font-family: 'Jost', sans-serif;
        font-size: 3.7rem;
        color: #fff;
    }

    .cards {
        height: 400px;
        width: 285px;
    }

    .cards img {
        height: 70px;
        width: 70px;
    }

    .cards h3 {
        font-size: 1.3rem;
    }

    .cards p {
        font-size: 0.7rem;
    }

}

@media screen and (min-width: 1250px) {
    .container-servicos {
        width: 100%;
    }

    .area-verde {
        line-height: 35px;
    }

    .line-servicos {
        width: 10%;
        height: 5px;
    }

    .head-servicos h2 {
        font-family: 'Jost', sans-serif;
        font-size: 4.5rem;
        color: #fff;
    }


    .cards {
        height: 450px;
        width: 285px;
    }

    .cards img {
        height: 90px;
        width: 90px;
        
    }
    
    .cards h3 {
        font-family: 'Jost', sans-serif;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
    }
    
    
    .cards p {
        font-family: "Poppins", sans-serif;
        font-size: 0.85rem;
        overflow-y: hidden;
    }
    
    .paragraph {
        margin-top: 12px;
    }
}

/*------------------------------------------------------------*/
/*RESPONSIVIDADE DO CONTATO*/
@media screen and (min-width: 465) {
    .copyright {
        font-size: 1rem; 
    }
}

@media screen and (min-width: 860px) {

    .container-contato {
        width: 80%;
        max-width: 1200px;
        height: 700px;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }

    .head-contato h2 {
        font-family: 'Jost', sans-serif;
        font-size: 4.5rem;
        color: var(--primary-color);
        overflow-y: hidden;
    }

    .line-contato {
        width: 10%;
        height: 5px;
        background-color: var(--secondary-color);
    }

    .contain-txt-map {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .txt-map {
        height: 100%;
        width: 25%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .map {
        display: flex;
        justify-content: space-between;
    }

    iframe {
        height: 100%;
        width: 75%;
    }

}

@media screen and (min-width: 1205px) {

    .head-contato h2 {
        font-size: 3.7rem;
    }
    
    .container-contato {
        width: 80%;
    }

    .txt-map h3 {
        font-size: 3.3rem;
    }

    .txt-map p {
        font-size: 0.95rem;
    }

    .txt-map {
        padding-left: 22px;
    }

}

@media screen and (min-width: 1250px) {
    .container-contato {
        width: 100%;
        max-width: 1200px;
        height: 700px;
        display: flex;
        gap: 30px;
        flex-direction: column;
    }
    
    .title-contato {
        overflow-y: hidden;
    }
    
    .head-contato h2 {
        font-family: 'Jost', sans-serif;
        font-size: 4.5rem;
        color: var(--primary-color);
        overflow-y: hidden;
    }
    
    .line-contato {
        width: 10%;
        height: 5px;
        background-color: var(--secondary-color);
    }
    
    .map {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        overflow-y: hidden;
    }
    
    iframe {
        height: 100%;
        width: 75%;
    }
    
    .txt-map {
        height: 100%;
        width: 25%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .contain-txt-map {
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    
    .txt-map h3 {
        font-family: 'Jost', sans-serif;
        font-size: 4.2rem;
        line-height: 70px;
        overflow: hidden;
    }
    
    .txt-map p {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        text-align: left;
    }
    
    .txt-map button {
        height: 50px;
        font-size: 1.3rem;
        background-color: #ffffff;
        border: 1px solid black;
        transition: all .3s ease-in-out 0s;
    }
}

/*-------------------------------------------------------*/
/*RESPONSIVIDADE DO FOOTER*/
@media screen and (min-width: 780px) {

    .contain-redes {
        width: 100%;
        height: auto;
        /* background-color: #f03313; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    
    .contain-redes ul {
        height: auto;
        width: 80%;
        flex-direction: column;
        display: flex;
        gap: 50px;
        justify-content: flex-end;
        align-items: end;
    }

    .contain-redes a{
        font-size: 1rem;
        display: flex;
        align-items: center;
    }

    .contain-footer {
        width: 80%;
        max-width: 1200px;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* background-color: purple; */
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
    }

    .logo-footer {
        height: 100%;
        width: 47%;
        /* background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .redes {
        height: 100%;
        width: 47%;
        /* background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .redes h4 {
        font-size: 1.5rem;
    }
    
    .redes p {
        font-size: 1.2rem;
    }
    
    .copyright {
        font-size: 1.2rem;
    }

}
@media screen and (min-width: 1145px) {
    
    .contain-redes ul {
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
}

@media screen and (min-width: 1250px) {
    
    .contain-footer {
        width: 100%;
        max-width: 1200px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: purple; */
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
    }


    .logo-footer {
        height: 100%;
        width: 47%;
        /* background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .logo-footer img{
        width: 90px;
        height: 90px;
    }
    
    .logo-footer p {
        color: #fff;
        font-family: 'Poppins', sans-serif;
    }
    
    .logo-footer button {
        height: 50px;
        font-size: 1.3rem;
        background-color: #1c1c1c;
        color: #fff;
        border: 1px solid rgb(255, 255, 255);
        transition: all .3s ease-in-out 0s;
    }
    
    .logo-footer button:hover {
        border-color: var(--secondary-color);
        color: var(--secondary-color);
        cursor: pointer;
    }
    
    .redes {
        height: 100%;
        width: 47%;
        /* background-color: chartreuse; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .contain-redes {
        width: 100%;
        height: auto;
        /* background-color: #f03313; */
        display: flex;
        align-items: center;
    }
    
    .contain-redes ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .contain-redes a{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        display: flex;
        align-items: center;
    }
    
    .contain-redes img{
        height: 25px;
        width: 25px;
        margin-right: 7px;
    }
    
    .l-footer a{
        color: #fff;
        text-decoration: none;
        transition: all .3s ease-in 0s;
    }
    
    .l-footer a:hover {
        color: rgb(216, 216, 216);
    }
    
    .redes h4 {
        color: #fff;
        font-family: 'Jost', sans-serif;
        font-size: 1.5rem;
    }
    
    .redes p {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    }
    
    .copyright {
        height: 50px;
        overflow: hidden;
        color: #fff;
        font-family: 'Jost', sans-serif;
        font-size: 1.2rem;
        margin-top: 45px;
    }

}

@media screen and (max-width: 1920px) {
    .container-sobre {
        width: 90%;
    }

    .container-servicos {
        width: 90%;
    }

    .container-contato {
        width: 90%;
    }

    .contain-footer {
        width:90%;
    }

}