@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    --primary-color: #EA2F34;
    --secondary-color: #00ACE8;
}

body {
    width: 100vw;
    height: 100vh;
}

.wpp {
    height: 70px;
    position: absolute;
    top: 87%;
    left: 92%;
    z-index: 99;
    transition: all .2s ease-in-out 0s;
}

.wpp:hover {
    height: 72px;
    cursor: pointer;
}

header {
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 45px;
    z-index: 99;
}

nav {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 70px;
    align-items: center;
    justify-content: right;
}

li {
    list-style: none;
}

li a {
    color: #fff;
    font-family: "Jost", serif;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo img{
    height: 70px;
    width: 70px;
    overflow: hidden;
    
}

.menu {
    display: none;
}

.menu img{
    height: 25px;
}

.menu img:hover {
    cursor: pointer;
}

main {
    width: 100vw;
    height: 800px;
    display: flex;
    justify-content: center;
    background-color: #d7d7d7;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

.swiper-wrapper {
    height: 100%;
    width: 101%;
    background-color: rgb(202, 202, 202);
}

.swiper-slide {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.swiper-slide img {
    height: 100%;
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: #1f1f1f;
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

.swiper-button-prev:hover {
    color: var(--primary-color);
}

.colored {
    width: 100vw;
    height: 700px;
    background-image: linear-gradient(90deg, #00b0f2 0%, #f03313);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sobre {
    width: 100%;
    max-width: 1100px;
    height: 500px;
    background-color: black;
}

.branca {
    background-color: #fff;
    width: 100vw;
    height: 700px;
}